@import "element-plus/dist/index.css";
@import "element-plus/theme-chalk/dark/css-vars.css";

:root {
  // element 变量
}

.custom {
  .el-drawer {
    &__header {
      padding: 9px 16px;
      margin-bottom: 0;
      font-weight: bold;
      color: $--text-color-base;
    }

    &__body {
      padding: 14px;
    }
  }

  .el-form-item {
    margin-bottom: 8px;

    &__label {
      color: $--text-color-regular;
    }
  }
}
