@import "element-plus/dist/index.css";
@import "element-plus/theme-chalk/dark/css-vars.css";

:root {
  // element 变量
}

.custom {
  .el-drawer {
    &__header {
      padding: 9px 16px;
      margin-bottom: 0;
      font-weight: bold;
      color: $--text-color-base;
    }

    &__body {
      padding: 14px;
    }
  }

  .el-form-item {
    margin-bottom: 8px;

    &__label {
      color: $--text-color-regular;
    }
  }

  .el-dialog {
    border-radius: 8px;

    &__title {
      font-weight: bold;
      color: $--text-color-base;

      &::before {
        position: relative;
        top: 3px;
        left: -5px;
        display: inline-block;
        width: 4px;
        height: 18px;
        content: "";
        background: var(--el-color-primary);
        border-radius: 3px;
      }
    }

    &__body {
      padding: 9px 0;
    }

    &__footer {
      padding-top: 0;
    }
  }
}
